#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div{
  background-color: rgb(41, 75, 75);
}

h2{
  background-color: blueviolet;
}

p{
  background-color: rgb(36, 68, 52);
}

form{
  background-color: rgb(51, 109, 89);
}

input{
  font-weight: bold;
}
label{
  margin-right: 10px;
}

.error{
  background-color: black;
  color: red;
  font-weight: bold;
  
}
.success{
  background-color: black;
  font-weight: bold;
}